<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <!-- Fontawesome -->
    <script
      src="https://kit.fontawesome.com/42a182743f.js"
      crossorigin="anonymous"
    ></script>
    <!-- CSS -->
    <link rel="stylesheet" href="/css/profile.css" />
    <link rel="stylesheet" href="/css/style.css" />
    <title>Profile</title>
  </head>
  <%-include("../partials/navbar.ejs") %>
  <body>
    <div class="profile-container">
      <header
        <%if(userFound.profileImage){%>
          style="
            background-image: url(<%=userFound.profileImage%>);
          "
        <%}%>
      >
      
        <div class="icons-container">
          <a href="/api/v1/users/profile-photo-upload/">
            <i class="fas fa-camera upload-btn">Change profile photo</i>
          </a>
          <p>
            <i class="fas fa-user"></i>
          </p>
          <p>
            <i class="fas fa-envelope"></i>
          </p>
          <p>
            <i class="fas fa-lock"></i>
          </p>
          <p>
            <i class="fas fa-sign-out-alt"></i>
          </p>
        </div>
        <!-- upload cover image icon -->
        <i class="fas fa-camera upload-btn"></i>
      </header>

      <!-- profile image -->
      <div class="profile-img">
        <%if(userFound.profileImage){%>
          <img
            src= <%=userFound.coverImage%>
            alt="profile image"
          />
        <%}%>
        <!-- upload profile image icon -->
        <div class="action-links-container">
          <a href="/api/v1/users/cover-photo-upload" class="action-link">
            <i class="fas fa-camera"></i>Change profile photo
          </a>
          <a href="/api/v1/users/update-password" class="action-link">
            <i class="fas fa-key"></i>Change password
          </a>
          <a href="/api/v1/users/<%=userFound._id%>" class="action-link">
            <i class="fas fa-edit"></i>Change details
          </a>
        </div>
        
        
      </div>
      <!-- personal details -->
      <div class="personal-container">
        <div class="details-wrapper">
          <div class="details">
            <i class="fas fa-user"></i>
            <p> Hello <%=userFound.fullname%> </p>
          </div>
          <div class="details">
            <i class="fas fa-envelope"></i>
            <p> Email: <%=userFound.email%> </p>
          </div>
          <!-- date joined -->
          <div class="details">
            <i class="fas fa-calendar"></i>
            <p>Date Joined: </p>
          </div>
        </div>
      </div>
    </div>
    <div class="latest-post-title">
      <!-- Icon -->
      <i class="fas fa-book-open"></i>
      <h1>Lastest Post (<%=userFound?.posts?.length%>)</h1>
      
    </div>

    <!-- content -->
    <section class="container-flex">
        
        <%if(userFound?.posts?.length <= 0){ %>
          <h1>You have no posts</h1>
        <% }else{%> <% userFound?.posts?.forEach(function(post){%>
          <article class="post-content">
          
            <img src="<%=post?.image%>" alt="" class="post-image" />
            <p class="post-info">
              <span class="post-author"> 
                <i class="fas fa-user"></i>
                <a href="#"><%=post?.user?.fullname%></a>
              </span>
              <span class="post-date">
                <i class="far fa-calendar-alt"></i>
                <time datetime="2020-01-01"> <%=post.createdAt.toLocaleDateString()%> </time>
              </span>
            </p><h1 class="post-title"><%=post?.title%></h1>
            <p class="post-body">
              <%=truncatePost(post?.description)%>
            </p>
            <!-- category -->
            <div class="post-category">
              <span>Category: <%=post?.category%></span>
            </div>
            <a href="/api/v1/posts/<%=post?._id%>" class="post-read-more">Continue Reading...</a>
          </article>
            <% }) %> 
          <% } %>

    </section>
    <!-- footer -->
    <footer>
      <div class="about">
        <h1><span class="logo-text">Novotek </span> <span>Blog</span></h1>
        <p>
          Lorem ipsum, dolor sit amet consectetur adipisicing elit. Corrupti a
          recusandae, molestiae incidunt
        </p>
        <!-- Contacts -->
        <div class="contact">
          <span>
            <i class="fas fa-phone"></i>
            + (123) 456 789
          </span>
          <span>
            <i class="fas fa-envelope"></i>
            
            <a href="mailto:support@inovotek.com">
              support@inovotek.com
            </a>
          </span>

        </div>
        <!-- socials -->
        <div class="socials">
          <a href="https://www.youtube.com/c/inovotek-academy">
            <i class="fab fa-youtube"></i>
          </a>
          <a href="https://www.youtube.com/c/inovotek-academy">
            <i class="fab fa-instagram"></i>
          </a>
          <a href="https://www.youtube.com/c/inovotek-academy">
            <i class="fab fa-twitter"></i>
          </a>
          <a href="https://www.youtube.com/c/inovotek-academy">
            <i class="fab fa-facebook"></i>
          </a>
         
    </footer>
  </body>
</html>


<p>
  <i style="color: yellow" class="fa-solid fa-key fas"></i>
</p>